/* purgecss start ignore */

/* editorjs raw */
.ce-rawtool__textarea {
    background-color: #f3f4f6 !important;
    color: #111827 !important;
    min-height: unset !important;
}

/* heading anchor size */
.ce-header::after {
    font-size: 1rem;
    padding-top: 2rem;
}

/* purgecss end ignore */

a[rel="encrypt"] {
    color: #059669;
}
