/* purgecss start ignore */

/* editorjs raw */
.ce-rawtool__textarea {
    background-color: #f3f4f6 !important;
    color: #111827 !important;
    min-height: none !important;
}

/* purgecss end ignore */
