<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration sans pretty-print pour éviter les crashs de Cursor -->
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  colors="false"
  stopOnFailure="false"
  bootstrap="packages/core/tests/bootstrap.php"
  cacheDirectory=".phpunit.cache"
  beStrictAboutOutputDuringTests="false">
  <php>
    <server name="APP_ENV" value="test" force="true" />
    <server name="KERNEL_CLASS" value="App\Kernel" />
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    <env name="PANTHER_WEB_SERVER_DIR" value="packages/skeleton/public" />
    <env name="PANTHER_CHROME_BINARY" value="/usr/bin/google-chrome" />
    <env name="PANTHER_CHROME_DRIVER_BINARY" value="/usr/bin/chromedriver" />
  </php>
  <testsuites>
    <testsuite name="all">
      <directory>packages/*/tests/</directory>
      <exclude>packages/new/tests/</exclude>
    </testsuite>
  </testsuites>
  <extensions>
    <!-- Pretty print désactivé pour Cursor -->
    <bootstrap class="Symfony\Component\Panther\ServerExtension" />
  </extensions>
  <source>
    <include>
      <directory>packages/*/src/</directory>
    </include>
    <exclude>
      <directory>packages/*/*/config/packages/</directory>
      <directory>packages/skeleton/src/</directory>
      <file>packages/core/src/Service/WebPConverter.php</file>
      <directory>packages/*/src/Entity/</directory>
      <directory>packages/installer/src/</directory>
    </exclude>
  </source>
</phpunit>

















