<?xml version="1.0"?>
<psalm errorLevel="1" findUnusedVariablesAndParams="true" resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd">
    <plugins>
        <pluginClass class="Psalm\SymfonyPsalmPlugin\Plugin">
            <containerXml>/tmp/com.github.pushword.pushword/tests/var/dev/cache/App_KernelDevDebugContainer.xml</containerXml>
        </pluginClass>
        <pluginClass class="Weirdan\DoctrinePsalmPlugin\Plugin" />
    </plugins>
    <projectFiles>
        <directory name="packages/**/src" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>
    <issueHandlers>
        <MissingConstructor>
            <errorLevel type="suppress">
                <directory name="packages/core/src/Component/EntityFilter" />
            </errorLevel>
        </MissingConstructor>
        <MixedAssignment errorLevel="suppress" />
        <MissingTemplateParam>
            <errorLevel type="suppress">
                <file name="packages/conversation/src/Repository/MessageRepository.php" />
            </errorLevel>
        </MissingTemplateParam>
        <MixedMethodCall>
            <errorLevel type="suppress">
                <file name="packages/**/src/DependencyInjection/Configuration.php" />
            </errorLevel>
        </MixedMethodCall>
        <PossiblyUndefinedMethod>
            <errorLevel type="info">
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\VariableNodeDefinition::arrayNode" />
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\NodeDefinition::arrayNode" />
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\NodeDefinition::booleanNode" />
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\NodeDefinition::children" />
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\NodeDefinition::integerNode" />
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\NodeDefinition::scalarNode" />
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\NodeDefinition::variableNode" />
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\VariableNodeDefinition::booleanNode" />
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\VariableNodeDefinition::scalarNode" />
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\VariableNodeDefinition::variableNode" />
                <referencedMethod name="Symfony\Component\Config\Definition\Builder\NodeParentInterface::end" />
            </errorLevel>
        </PossiblyUndefinedMethod>
    </issueHandlers>
</psalm>