@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  line-height: 1.5;
}

.prose ul.list-none {
  margin: 0;
}
.prose ul.list-none > li {
  padding-left: 0;
  margin: 0;
}
.prose ul.list-none > li::before {
  height: 0;
  width: 0;
}

.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
