@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './tailwind.prose.scss';

.img-stretched {
  @apply w-screen relative left-1/2 right-1/2 mr-[-50vw] ml-[-50vw];
}
.img-background {
  @apply px-6 sm:px-12 py-1 text-center bg-gray-200 rounded;
}
