@import 'tailwindcss';
@import 'tailwindcss-animated';
@plugin '@tailwindcss/typography';
@import './utility.css'; /* node_modules/@pushword/js-helper/src/utility.css */
/* @plugin "@tailwindcss/forms"; */

/*
Tailwind content sources for all packages
-----------------------------------------
*/

@source "./../../../../vendor/pushword/**/templates/";
@source "./../../**/templates/";
@source "./../../../../templates";
@source "./../../../../var/TailwindGeneratorCache/*";
@source "./../../../../vendor/pushword/core/src/Twig/**.php";
@source "./../../core/src/Twig/**.php";
@source "./../../../../vendor/pushword/admin/src/templates/markdown_cheatsheet.html.twig";
@source "./../../admin/src/templates/markdown_cheatsheet.html.twig";
