html {
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

span[data-rot] {
  cursor: pointer;
  color: var(--primary);
  text-decoration: underline;
  font-weight: 500;
}

span[data-rot]:hover {
  color: var(--primary);
}

.link-text {
  color: inherit;
}

.ninja {
  text-decoration: none !important;
  color: inherit;
  cursor: auto;
}

.show-hide-input:checked ~ div {
  display: block !important;
}

.w-full-vw {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
