/**
 * Relative to link
 */
.text-color-inherit,
.link-text {
    color: inherit !important;
}

.no-decoration,
.ninja {
    text-decoration: none !important;
    color: inherit !important;
    cursor: auto !important;
    border-bottom: 0 !important;
}

.link-btn {
    padding: 6px 12px;
    margin-bottom: 0;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    color: #fff !important;
    background-color: var(--primary);
    border-color: var(--primary);
    outline: none;
    text-decoration: none !important;
    font-size: 120%;
}

.link-btn:hover {
    color: #fff !important;
}

/**
 * Some smoothiness
 */

html {
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

/**
 * Pure css hamburger menu
 */

.show-hide-input:checked ~ ul,
.show-hide-input:checked ~ nav {
    max-height: 100vh;
    padding-top: 1rem;
}

/** Pure CSS accordion and show more
    Example  https: //play.tailwindcss.com/VxdXWMH64M

**/
.show-hide-input:checked~div {
    max-height: 100%;
}

.show-more>.show-hide-input:checked~div.show-more-btn {
    max-height: 0;
    overflow: hidden;
}