/**
 * Relative to link
 */
.text-color-inherit,
.link-text {
    color: inherit !important;
}

.no-decoration,
.ninja {
    text-decoration: none !important;
    color: inherit !important;
    cursor: auto !important;
    border-bottom: 0;
}

.link-btn {
    padding: 6px 12px;
    margin-bottom: 0;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    color: #fff;
    background-color: #3c8dbc;
    border-color: #367fa9;
    outline: none;
    text-decoration: none !important;
    font-size: 120%;
}

.link-btn:hover {
    color: #fff !important;
}

.clickable {
    cursor: pointer;
}

/**
 * Some smoothiness
 */

html {
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

/**
 * Pure css hamburger menu
 */

.show-hide-input:checked ~ div,
.show-hide-input:checked ~ ul,
.show-hide-input:checked ~ nav {
    max-height: 100vh;
    padding-top: 1rem;
}

/**
 * Special full-width from everywhere
 */

.w-full-vw {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.first-letter:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
