# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
  ide: vscode
  default_locale: en
  translator:
    default_path: "%kernel.project_dir%/translations"
    fallbacks:
      - en
  router:
    utf8: true
  mailer:
    dsn: "%env(MAILER_DSN)%"
  lock: "%env(LOCK_DSN)%"
  cache:
    #app: cache.adapter.apcu
  secret: "%env(APP_SECRET)%"
  #csrf_protection: true
  http_method_override: false
  session:
    handler_id: null
    cookie_secure: auto
    cookie_samesite: lax
    storage_factory_id: session.storage.factory.native
  #esi: true
  #fragments: true

when@prod:
  framework:
    router:
      strict_requirements: true

when@test:
  framework:
    test: true
    lock: "flock"
    mailer:
      dsn: "null://null"
    session:
      storage_factory_id: session.storage.factory.mock_file
