controllers:
  resource:
    path: ./Controller
    namespace: Pushword\Admin\Controller
  type: attribute

admin_area:
  resource: "@SonataAdminBundle/Resources/config/routing/sonata_admin.php"
  prefix: /admin

_sonata_admin:
  resource: .
  type: sonata_admin
  prefix: /admin
