.cdx-input-gallery,
.cdxcarousel-block {
  margin-top: 20px !important;
  width: 50%;
}

.cdxcarousel-item img {
  margin-bottom: 10px !important;
}

.cdxcarousel-removeBtn {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

/* Patch to permit the toolbar icon appear */
.cdxcarousel-inputUrl {
  display: inline !important;
  visibility: hidden;
  height: 0;
}
