.ce-inline-tool-hyperlink--select-target,
.ce-inline-tool-hyperlink--select-rel {
    width: 31%;
    margin-right: 1%;
    background: #fff;
}

.ce-inline-tool-hyperlink--select-rel {
    margin-left: 1%;
}

.ninja {
    text-decoration: none !important;
    color: inherit !important;
    border-bottom: 1px dotted #333;
}

.link-btn {
    padding: 6px 12px;
    margin-bottom: 0;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    color: #fff;
    background-color: #3c8dbc;
    border-color: #367fa9;
    outline: none;
    text-decoration: none !important;
}

.link-btn:hover {
    color: #fff !important;
}
