.editor-toolbar.fullscreen,
.CodeMirror-fullscreen,
.EasyMDEContainer .CodeMirror-fullscreen {
  z-index: 100000000;
}
.CodeMirror-lines {
  max-width: 768px;
  margin: auto;
}
.CodeMirror {
  display: none;
}
.EasyMDEContainer .CodeMirror {
  display: block;
}

.preview-visible {
  display: block;
}
.load-preview {
  display: none;
}
.editor-preview {
  background: #fff;
  overflow: hidden;
  padding: 0;
  z-index: 1000;
}
.box-body {
  font-size: 16.8px;
}
.fa.fa-arrows-alt:before {
  content: '' !important;
}
.fa-arrows-alt {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: no-repeat center/contain;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707m0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707'/></svg>");
  vertical-align: middle;
}
