.cdx-anchor-tune-wrapper {
    display: flex;
}

.cdx-anchor-tune-icon {
    width: 10px;
    height: 20px;
    margin-left: 7px;
}

.cdx-anchor-tune-icon svg {
    vertical-align: inherit;
}

.cdx-anchor-tune-input {
    border: 0;
    box-sizing: border-box;
    margin-left: 7px;
    outline: none;
}
