.ce-tune-alignment--right {
  text-align: right;
}
.ce-tune-alignment--center {
  text-align: center;
}
.ce-tune-alignment--left {
  text-align: left;
}
.ce-popover__custom-content:not(:empty) {
  margin-bottom: 0;
}

.cdx-settings-button {
  margin: 6px 1px !important;
}
