.mr-5px {
  margin-right: 5px;
}
.cdx-input-labeled-pageslist-kw {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23707684" viewBox="0 0 16 16">   <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/> </svg>');
  white-space: normal !important;
}
.cdx-input-labeled-pageslist-max {
  max-width: 82px;
  border-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0 !important;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23707684" viewBox="0 0 16 16">   <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z"/> </svg>');
}
.cdx-input-labeled-pageslist-maxpages {
  max-width: 82px;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px !important;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23707684" viewBox="0 0 16 16">  <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/></svg>');
}
.cdx-input-labeled-pageslist-maxpages[contentEditable='true'][data-placeholder]::before,
.cdx-input-labeled-pageslist-max[contentEditable='true'][data-placeholder]::before {
  right: 16px;
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}
[style*='--aspect-ratio'] > :first-child {
  width: 100%;
}
[style*='--aspect-ratio'] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    position: relative;
  }
  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.hidden {
  display: none !important;
}

.preview-wrapper {
  background: #f9fafb;
  border-radius: 3px;
  opacity: 0.95;
  position: relative;
}
.preview-wrapper:hover {
  background: repeating-linear-gradient(45deg, #f3f4f6, #fff 15%, #f3f4f6 20%);
  border-radius: 3px;
  opacity: 0.75;
}
.preview-wrapper-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
}
