.hiden {
  display: none !important;
}

.cdx-notifies {
  z-index: 1000 !important;
}

.cdx-input-labeled-preview {
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 20 20" fill="%23707684" xmlns="http://www.w3.org/2000/svg">    <path d="M3.15 13.628A7.749 7.749 0 0 0 10 17.75a7.74 7.74 0 0 0 6.305-3.242l-2.387-2.127-2.765 2.244-4.389-4.496-3.614 3.5zm-.787-2.303l4.446-4.371 4.52 4.63 2.534-2.057 3.533 2.797c.23-.734.354-1.514.354-2.324a7.75 7.75 0 1 0-15.387 1.325zM10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10z"></path></svg>');
}

.cdx-input-labeled,
.cdx-quote__caption {
  padding-left: 38px;
  background-repeat: no-repeat;
  background-position: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cdx-quote__caption {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23707684" viewBox="0 0 16 16">   <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/> </svg>');
}
.cdx-input-editable {
  margin: 5px 0;
}
.cdx-input-editable[contentEditable='true'][data-placeholder]::before {
  position: absolute !important;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  display: none;
}
.cdx-input-editable[contentEditable='true'][data-placeholder]:empty::before {
  display: block;
}
.cdx-input-editable[contentEditable='true'][data-placeholder]:empty:focus::before {
  display: none;
}
.flex .cdx-input {
  margin: 0 5px;
  position: relative;
}
.cdx-select {
  border: 1px solid rgba(201, 201, 204, 0.48);
  border-radius: 5px;
  padding: 5px 8px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.cdx-checkbox {
  margin-top: 15px;
  margin-left: 25px;
}

/** Toggler **/
.toggle-wrapper {
  color: #707684;
}
.toggle-input {
  display: none;
}
.toggle-label:hover {
  background-color: #eff2f5;
}
.toggle-label {
  width: 17px;
  height: 26px;
  border-radius: 7px;
  position: absolute;
  right: -30px;
  top: 30px;
  display: inline-block;
  box-sizing: border-box;
  color: #1d202b;
  background: #fff center / 70% no-repeat
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>');
  cursor: pointer;
  transition: 0.5s;
}
.toggle-input:checked + .toggle-label {
  opacity: 0.3;
}
