name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      #fail-fast: true
      matrix:
        os: [ubuntu-latest] #, windows-latest
        php: [8.4, 8.5]
        node: [25, 24]
        stability: [prefer-stable, prefer-lowest]
        exclude:
          - php: 8.5
            stability: prefer-lowest
          - php: 8.5
            node: 24

    name: P${{ matrix.php }} - N${{ matrix.node }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: pecl
          extensions: dom, curl, libxml, mbstring, zip, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo, xdebug
          #coverage: none

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        run: composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      #- name: Install browsers
      #  run: vendor/bin/bdi detect drivers
      - name: Initialize
        run: composer reset

      - name: Generate Images Cache
        run: cd packages/skeleton && php bin/console pw:image:cache

      - name: Execute tests
        run: vendor/bin/phpunit --coverage-clover coverage.xml --exclude-group panther

      - name: Send coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: coverage.xml
