name: Tests

on: [push, pull_request]

jobs:
  phpstan:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [8.5, 8.4]

    name: PHPStan - PHP ${{ matrix.php }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          tools: composer:v2

      - name: Install dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: highest
          composer-options: --prefer-dist --prefer-stable --no-interaction

      - name: Build container
        run: cd packages/skeleton && php ./bin/console cache:clear

      - name: PHPStan
        run: vendor/bin/phpstan --memory-limit=1G analyse --error-format=github

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      #fail-fast: true
      matrix:
        os: [ubuntu-latest] #, windows-latest
        php: [8.4] # , 8.5 wait for symfony/panther upgrade
        node: [25, 24]
        stability: [prefer-stable]
        # exclude:
        #   - php: 8.5
        #     node: 24

    name: P${{ matrix.php }} - N${{ matrix.node }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: pecl
          extensions: dom, curl, libxml, mbstring, zip, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo, xdebug
          #coverage: none

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        run: composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Install PDF optimization tools
        run: sudo apt-get update && sudo apt-get install -y ghostscript qpdf

      #- name: Install browsers
      #  run: vendor/bin/bdi detect drivers
      - name: Initialize
        run: composer reset

      - name: Generate Images Cache
        run: cd packages/skeleton && php bin/console pw:image:cache

      - name: Execute tests
        run: vendor/bin/phpunit --coverage-clover coverage.xml --exclude-group panther

      - name: Send coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: coverage.xml
