name: Split Monorepo

on:
  push:
    branches:
      - main

jobs:
  provide_packages_json:
    # see json juggling: https://docs.github.com/en/free-pro-team@latest/actions/reference/context-and-expression-syntax-for-github-actions#example-6
    # see https://stackoverflow.com/a/62953566/1348344
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # required for matrix of packages set
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          coverage: none

      - run: composer install --no-progress --ansi

      # get package json list
      - id: output_data
        run: echo "::set-output name=matrix::$(vendor/bin/monorepo-builder packages-json)"

    # this step is needed, so the output gets to the next defined job
    outputs:
      matrix: ${{ steps.output_data.outputs.matrix }}

  split_monorepo:
    needs: provide_packages_json

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - core
          - admin
          - flat
          - page-scanner
          - page-update-notifier
          - static-generator
          - template-editor
          #package: ${{fromJson(needs.provide_packages_json.outputs.matrix)}}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - # get git previous tag
        id: previous_tag
        uses: 'WyriHaximus/github-action-get-previous-tag@master'

      - # Uses an action in the root directory
        name: Monorepo Split of ${{ matrix.package }}
        uses: symplify/github-action-monorepo-split@master
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          package-directory: 'packages/${{ matrix.package }}'
          split-repository-organization: 'pushword'
          split-repository-name: '${{ matrix.package }}'
          tag: ${{ steps.previous_tag.outputs.tag }}
          user-name: 'RobinDev'
          user-email: 'contact@piedweb.com'
